.ipynb_checkpoints
*.docx
*.exe
module 1 - data/nd_eqs.txt
module 1 - data/my_first_novel.txt
module 1 - data/archived_book2.txt
module 2 - visualisation/my_empty_figure.png
module 2 - visualisation/earthquake_movie.mp4
module 1 - data/txt_files
